
.hero-background {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url<"https://kids.nationalgeographic.com/explore/cats-rule-in-ancient-egypt/_jcr_content/content/textimage/image.ngsversion.1414525489847.img.jpg">center center no-repeat;
  background-size: cover;
  }

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #D4Af37	;
  text-shadow: 2px 2px 4px #000000;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section {
  height: 2.75rem;
  width: 2.75rem;
  fill: #D4Af37	;
}

.hero-full-screen .top-bar {
  color:  #3B6AA0	 ;
}

.hero-full-screen .top-bar .menu {
  color:  #3B6AA0	 ;
}

.hero-full-screen .top-bar .menu-text {
  color: #D4Af37	;

}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;f
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #3B6AA0		;
  font-weight: bold;

}
